html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(180deg, #FFFFFF 0%, #FBF9FF 100%);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;

}



/* NAV STYLES */
.nav-container {
width: 100%;
height: 76px;
background: #FFFFFF;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.0625), 0px 4px 8px rgba(0, 0, 0, 0.125);
display: flex;
align-items: center;
justify-content: center;

}


/* BODY CONTENT */

.body-container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* HUB HEADER */

.hub-header-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 195px auto;
  gap: 15px;

}

.hub-header {
  font-size: 36px;
  line-height: 36px;

}

.grey-line {
  border-bottom: 4px solid #E6E3EB;
}

/* COLOR CARDS  */
.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  width: 28%;
  padding: 12px 16px;
  min-height: 184px;
  border-radius: 25px;
}

.card div {
  color: #ffffff;
}

.card-header {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 5px;
}



.blue-bg {
  background: linear-gradient(117.03deg, #8C3CEE 0%, #5D75F2 49.73%, #2DAEF7 100%);

}

.card-two-data-points {
  display: flex;
  flex-direction: row;
}

.card-content__two-data-points {
  display: flex;
  width: 47%;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.25);
}





.orange-bg {
  background: linear-gradient(117.03deg, #FF7106 0%, #FFB74D 100%);
}

.card-content__two-data-points__header {
  font-weight: 700;
  font-size: 12px;
  color: rgba(250, 246, 255, .5);
}

.card-content__single-number {
  font-weight: 500;
  font-size: 48px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  text-align: center;

}



/* TABBED CONTENT*/

.tabs-container {
  margin-top: 3rem;
  color: #000000;
}

.tab-link {
  text-transform: capitalize;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li{
  background: none;
  width: 20%;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #000000;

}

ul.tabs li.current{
  color: #222;
  border-bottom: 3px solid #8C3CEE;

}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
  background: inherit;
}

.tab-2-content-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}

.tab-2_column {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 15px;
}

.tab-2_column-header {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -.025em;
}

.tab-2_column-copy {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
}

.dropdown-1-options, .dropdown-2-options {
  display: none;
  padding: 8px 12px;
}

.caret {
  transform: rotate(90deg);
}

button {
  background: linear-gradient(180deg, #FFFFFF 0%, #FBF9FF 100%);  border: 1px solid ;
  padding: 8px 12px;
  border: 2px solid #8A3FEE;

}




