* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  min-height: 100vh;
  background: linear-gradient(180deg, #FFFFFF 0%, #FBF9FF 100%);
  font-family: 'Poppins', sans-serif;
}

/* UNIVERSAL */
.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: -15px;
  padding-right: -15px;
}

.col-4 {
  flex: 0 0 31%;
  max-width: 31%;
  margin-right: 1%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-6 {
  flex: 0 0 48%;
  max-width: 48%;
  margin-right: 1%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: center;
  min-width: 100%;
  height: 76px;
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.0625), 0px 4px 8px rgba(0, 0, 0, 0.125);
}

nav img {
  width: 109.25px;
  height: auto;
  align-self: center;
}

.main-content-container {
  position: relative;
  max-width: 1067px;
  margin-left: auto;
  margin-right: auto;
}

.hubshoply-container {
  display: flex;
  align-items: baseline;
  margin-top: 56px;
}

.hubshoply-container h1 {
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 100%;
width: 193px;
margin-right: 24px;

/* identical to box height, or 36px */

letter-spacing: -0.05em;

color: #000000;

}

.hubshoply-line {
  width: 1007px;
  height: 0px;
  border-bottom: 4px solid #E6E3EB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.widget-row {
  margin-top: 37px;
}

.card {
  width: 100%;
  height: 184px;
  padding: 18px;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blue-bg {
  background: linear-gradient(117.03deg, #8C3CEE 0%, #5D75F2 49.73%, #2DAEF7 100%);
  border-radius: 24px;
}

.orange-bg {
  background: linear-gradient(117.03deg, #FF7106 0%, #FFB74D 100%);
  border-radius: 24px;
}

.card-header {
  position: relative;
  height: 40px;
}

.card-header h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  letter-spacing: -0.025em;
  color: #FFFFFF;
  
}

.card-header-underline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  border-bottom: 2px solid;

  border-image-source: linear-gradient(90deg, #FFFFFF 0%, #FBF9FF 100%);


  background-image: url(./images/Underline.png);
}

.card-content {
  margin-top: 24px;
}

.integration-item {
  position: relative;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  height: 72px;
  /* margin-right: 5px; */
}

.label {
  position: absolute;
  width: 71px;
  height: 12px;
  left: 10px;
  top: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 12px */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(250, 247, 255, 0.5);
}

.checkmark {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 10px;
  top: 10px;

  background-image: url(./images/Checkmark.png);
  background-repeat: no-repeat;
}

.status-value {
  position: absolute;
  width: 125.39px;
  height: 24px;
  left: 10px;
  bottom: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */

  letter-spacing: 0.025em;

  color: #FFFFFF;
}

.full-width-value {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  /* identical to box height, or 48px */
  text-align: center;
  padding: 12px;

  letter-spacing: -0.025em;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 12px;

}


/* TABBED CONTENT */

.tabbed-row {
  margin-top: 108px;
}

ul.tabs {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  list-style: none;
  border-bottom: 2px solid #E6E3EB;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;

}

ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding-right: calc(20% - 100px);
  cursor: pointer;
}

ul.tabs li.current {
  color: #222;
}

ul.tabs li.current::after {
  content: "";
  display: block;
  height: 2px;
  margin-top: 30px;
  background: #e9e9e9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #8C3CEE 0%, #2DAEF7 100%);
}


.tab-content {
  display: none;
  padding: 15px 0;
}

.tab-content.current{
  display: inherit;
}

.deals-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 1.5%;
}

.deals-card {
  display: grid;
  grid-template-rows: 2rem auto auto;
  min-height: 160px;
}

.deals-card-header {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 100%;
  /* identical to box height, or 24px */
  
  letter-spacing: -0.025em;
  
  color: #000000;
  
}

.deals-card-copy {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #786D87;

}

input.radio {
  border: 2px solid #8A3FEE;
  box-sizing: border-box;
  border-radius: 40px;
}

label.radio {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #786D87;

}





